.grid{
    background-color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: black;
}
body{
    background-color: whitesmoke;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{
    justify-content: space-between;

    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
    justify-content: space-between;
    border: 2px solid black;

}